<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starim.android.apps.travelplanner" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TravelListActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTravelListActivity"
            android:label="@string/title_activity_add_travel_list" >
        </activity>
        <activity
            android:name=".TravelScheduleActivity"
            android:label="@string/title_activity_travel_schedule" >
        </activity>
        <activity
            android:name=".AddTravelScheduleActivity"
            android:label="@string/title_activity_add_travel_schedule" >
        </activity>
    </application>

</manifest>
